*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* RESET END*/

/* COLORS */
:root {

  --primary_main-bg: hsl(233, 47%, 7%);
  --primary_card-bg: hsl(244, 38%, 16%);
  --primary_accent: hsl(277, 64%, 61%);

  --neutral_main-heading_stats: hsl(0, 0%, 100%);
  --neutral_main-paragraph: hsla(0, 0%, 100%, 0.75);
  --neutral_stat-headings: hsla(0, 0%, 100%, 0.6);
}

body {
  /* font-family: 'Lexend Deca', sans-serif; */
  max-width: 1440px;
  margin: auto;
  font-family: 'Inter', sans-serif;
  background-color: var(--primary_main-bg);
  color: var(--neutral_main-heading_stats);
  font-size: 15px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

main {
  margin-block: 1rem;
  width: 22rem;
  padding: 1rem;
}

article {
  background-color: var(--primary_card-bg);
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem -1rem var(--neutral_desaturated-blue);
}

.content_image {
  border-radius: 0.5rem 0.5rem 0 0;
  overflow: hidden;
  background-color: var(--primary_accent);
}

.content_image img {
  opacity: 0.8;
  mix-blend-mode: multiply;
  object-fit: cover;
}

.content {
  padding: 2rem 2rem 0 2rem;
}

.content h1 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}

.content h1 span {
  color: var(--primary_accent);
}


.content p {
  color: var(--neutral_main-paragraph);
  font-weight: 400;
  text-align: center;
  margin-block: 1rem;
  ;
}

.content_stats>* {
  color: var(--neutral_main-heading_stats);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.stats {
  padding: 1rem;
}

.stats span {
  font-family: 'Lexend Deca', sans-serif;
  display: block;
  color: var(--neutral_stat-headings);
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}



/* .flex-group {
  margin-block: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--neutral_very-pale-blue);
  padding-inline: 1rem;
  padding-block: 1.5rem;
  border-radius: 1rem;
} */



/* FOOTER START */
.attribution {
  color: var(--neutral_white);
  margin-top: 2rem;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

@media only screen and (min-width: 60rem) {

  body {
    justify-content: center;
    padding: 10rem;
  }

  main {
    width: 100%;
    flex-direction: row;
  }

  article {
    display: flex;
    flex-direction: row-reverse;
    /* align-items: center; */
  }

  .card_content {
    flex: 0 1 55%;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .content {
    padding: 0;
  }

  .content_image {
    border-radius: 0rem 0.5rem 0.5rem 0;
  }

  .content_image img {
    height: 100%;
  }

  .content h1,
  .content p {
    text-align: left;
  }

  .content h1 {
    font-size: 2.5rem;
    padding-bottom: 1rem;
  }

  .content_stats {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  .stats {
    padding: 0;
  }
}